body {
    background-color: #faf8ef; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column-reverse;
    height: 100vh;  
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 55px;
    font-weight: 700;
    color: #776e65;
    max-width: 525px;
    margin: 0px auto;
}

* {
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}

.conteiner {
display: flex;

}

.calc{
    height: 60px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    background: #bbada0;
    border: none;
    margin: 10px;
    text-transform: uppercase;
}

.score ,
.scoreTwo{
    position: relative;
    display: block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
    height: 60px;
    width: 100px;
    margin: 10px;
}

.score::after{
    content: 'Score';
}

.scoreTwo::after{
    content: 'Best';
}


.score::after ,
.scoreTwo::after{
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}

.tile{
    background-color: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    animation: show 200ms;
    transition: 100ms;
}

@keyframes show {
    0% {
      opacity: 0    ;
      transform: scale(0);
    }
  }

.text {
    height: 90px;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

 .game-board{
    position: relative;
    height: 525px; 
    width: 525px;
    background-color: #bbada0;
    border: 15px solid #bbada0;
    border-radius: 5px;
    display: grid; 
    grid-template-columns: repeat(4, 113px);
    grid-template-rows: repeat(4, 113px); 
    gap: 15px;
} 

/* .game-board{
position: relative;
height: 525px;
width: 525px; 
background-color: #bbada0;
border: 15px solid #bbada0; 
border-radius: 5px; 
display: grid; 
grid-template-columns: repeat(4, 113px); 
grid-template-rows: repeat(4, 113px); 
gap: 15px;
} */